.errors {
  color: #ff4d4f;
  padding: 5px 0 0;
  display: block;
  font-size: 14px;
}

.input_border {
  border: 1px solid #ff4d4f !important;
  border-radius: 3px !important;
}

.h-35 {
  height: 35px;
}

.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.text-center {
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(110, 117, 130, 0.2);
  border-radius: 3px;
}
