.chart {
  background: #fff;
  overflow: overlay;

  .btn-chart {
    margin-top: 8px;
    margin-right: 32px;
    position: absolute;
    z-index: 10;
    right: 0;

    &:hover {
      background: #31aaf1;
      color: #fff;
    }
  }

  .modal-chart {
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    pointer-events: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    z-index: 10;
    padding: 11px 16px 8px;
    margin-right: 16px;
    margin-top: 11px;
    right: 0;
    top: 28%;
    text-align: right;

    &.active {
      visibility: visible;
      transition: all 0.2s ease-in;
      opacity: 1;
    }

    .icon {
      cursor: pointer;

      &:hover {
        color: #31aaf1;
      }
    }

    .group-chart {
      span {
        display: inline-flex;
        align-items: center;

        .line-through {
          text-decoration-line: line-through;
        }

        .modal-color {
          width: 24px;
          height: 12px;
          margin-left: 5px;
        }
      }
    }
  }

  .canvas {
    position: relative;
    height: calc(100vh - 230px);
    background: #fff;

    canvas {
      position: absolute;
      background-color: #fff;
    }

    .modal-content {
      position: absolute;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
      pointer-events: auto;
      z-index: 10;

      .icon {
        cursor: pointer;

        &:hover {
          color: #31aaf1;
        }
      }
    }

    .icon {
      position: absolute;
      top: 11px;
      right: 13px;
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin-top: 31px;
      padding: 0 16px 16px;
      margin-bottom: 0;

      hr.dashed {
        border-top: 1px dashed #000000;
      }

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        align-items: baseline;

        &:last-child {
          margin-bottom: 0;
        }

        .left-detail {
          font-size: 12px;
          width: auto;
          margin-right: 12px;
          color: #1F1F1F;

          &:hover {
            color: #1F1F1F;
            text-decoration: underline;
          }
        }

        .left-detail_chart-all {
          font-size: 12px;
          width: auto;
          margin-right: 12px;
        }

        .right-detail_chart-all {
          font-size: 12px;
          flex: 1;
          text-align: right;

          &:hover {
            text-decoration: underline;
          }
        }

        .right-detail {
          font-size: 12px;
          flex: 1;
          text-align: right;
        }

        span {
          font-size: 12px;
        }

        .money-detail {
          display: flex;
          flex-direction: column;

          .note-money {
            font-size: 12px;
            color: #BFBFBF;
          }

          .note-money__chart-all {
            color: #1F1F1F;
            font-size: 12px;
            color: #262626;
          }

          .start-color__chart-all {
            font-size: 12px;
            display: flex;
            justify-content: flex-end;
            color: #1F1F1F;

            &:hover {
              text-decoration: underline;
            }
          }

          .start-color {
            font-size: 12px;
            display: flex;
            justify-content: flex-end;

            &:hover {
              text-decoration: underline;
            }

            p {
              color: #F5222D;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
